.homepage {
  width: 100%;
  height: 100%;
  padding: 5% 5%;
  background-color: #191970;
}

.container {
  display: flex;
  just
}

.inner {
  width: 700px;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  margin: 0 auto;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 30px 20px;
}

.form {
  display: inline-block;
  margin: -20px -15px;
}

.text {
  width: 500px;
  height: 30px;
  border: solid 1px #c0c0c0;
  margin-left: 20px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

.create-btn {
  width: 80px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px 10px 10px 10px;
  border: solid 3px #9966CC;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #9966CC;
  padding:10px 20px 10px 20px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.date-1 {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.name {
  margin-left: 80px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.update {
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.delete {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-2 {
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.input-update {
  width: 200px;
  height: 20px;
  border: solid 1px #c0c0c0;
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
}

.button-update {
  width: 80px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border: solid 3px #ffa500;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ffa500;
  padding: 10px 20px;
}

.button-delete {
  width: 80px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  border: solid 3px #40e0d0;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #40e0d0;
  padding: 10px 20px;
}
